<h1> Quick Notes </h1>
<div>
  {{#each data}}
  <div>
  <span>{{this.note}}</span>
  {{/each}}
  </div>
</div>

<form action="/create" method="post">
  <textarea class="form-control" type="text" name="note" value=""></textarea>
  <button type="submit">Submit</button>
</form>
